
/* Panel Extension */
@media (max-width: 720px) {
  #tablettab {
    font-size: 16px;
    margin: 0;
    padding: 5px;
  }

  #nav-panel, #axis-position, #setAxis, #control-pad,
  #messagepane #gcode-states, #messagepane #messages,
  #expand-button,
  #mdifiles div:nth-child(-n+4), /* GCode Command and MDI buttons */
  #mdifiles div:nth-child(6),    /* Upld button */
  #mdifiles div:nth-child(8)     /* Refr button */
  {
    display: none;
  }

  #mdifiles div:nth-child(5) {
    width: 80%;
  }

  #mdifiles div:nth-child(7) {
    width: 20%;
  }

  #mdifiles.area {
    padding: 2px 0px 4px 2px;
  }

  #previewpane {
    position: absolute;
    top: 143px;
    width: 96%;
    height: 371px;
  }

  #gcode {
    position: absolute;
    width: 96%;
    height: 90px;
    font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
    font-size: 14px;
    resize: none;
  }

  #gcode, #mdifiles {
    background-color: inherit;
  }

  .btn-tablet, .mdi-entry {
    height: 1.8rem;
    font-size: 16px;
  }

  .btn-tablet, .mdi-entry, #gcode, #toolpath {
    border: 0.05rem solid #bcc3ce;
    border-radius: 0.2rem;
  }
}