.cols-tablet {
  width: 100%;
  display:flex;
  flex-wrap: nowrap;
}
[class~=col-], .col-tablet { 
  width: 100%;
  padding-left: 0.2rem;
}
.disabled {
  cursor: not-allowed;
}
.hidden {
  display: none !important;
}
.btn-tablet:hover {
  background: #e0e0e0
}
.btn-tablet:active {
  background: #d0f0d0
}
.btn-tablet:disabled {
  background: #f0f0f0;
  color: black;
}
.btn-tablet {
  width: 100%;
  margin: 0.1rem;
  background: white;
  border: 0.05rem solid #5755d9;
  border-radius: 0.3rem;
  cursor: pointer;
  display:inline-block;
  font-size:1.3rem;
  height: 2.4rem;
  line-height: 1.2rem;
  outline: none;
  padding: 0.25rem 0.4rem;
  text-align: center;
}
#tablettab {
  height: 100%;
  padding: 5px;
  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
}
.messages {
  width: 100%;
  height: 45%;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(118, 118, 118);
  text-align:left;
  font-size: 1.0rem;
}
#messages {
  background-color: lightyellow;
}
#gcode-states {
  background-color: azure;
  height: fit-content;
  overflow-x: auto;
  overflow-y: hidden;
  text-align:left;
}
#gcode {
  background-color: lavenderblush;
  width: 100%;
  resize: none;
}
#tablet-dropdown-menu {
  max-height: 100vh;
}
.axis-label {
  font-size: 1.6rem;
}
#axis-position {
  background-color: azure;
  overflow: hidden;
  text-align: center;
}
.area {
  padding-top: 12px;
  padding-bottom: 8px;
  padding-right: 8px;
}
.area2 {
  padding-bottom: 8px;
  padding-right: 8px;
}
#mdifiles {
  background-color: lavenderblush;
}
#setAxis {
  background-color: azure;
}
#control-pad {
  background-color: lightyellow;
}
.mdi-entry {
  width:100%;
  height:100%;
  border-radius: 0.4rem;
  border-width: 1px;
}
.mposition {
  padding-top: 0.2rem;
  font-size: 1.4rem;
  color: #606060;
}
.info-button {
  padding-top: 0.1rem;
  font-size: 1.4rem;
}
.pos-name {
  font-size: 1.7rem;
}
#jog-distance {
  padding-top: 0;
}
.btn-lg {
  width:100%;
  border-width: 1px;
  border-radius: 5px;
}
#nav-panel {
  padding-top: 0.2rem;
  font-size: 1.6rem;
}
#expand-button {
  position:absolute;
  top:0;
  right:0;
  z-index:1;
  width:2rem;
  height:2rem;
  margin: 5px;
}
#messagepane {
  height: 100%;
}
#previewpane {
  position: relative;
}
#toolpath {
  height:100%;
  width:100%;
  z-index:0;
  border: 0.05rem solid #5755d9;
  border-radius: 0.3rem;
}
#filename {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  height:4rem;
  margin: 5px;
}
/* (A) WRAPPER */
#numWrap {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0; left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
#numWrap.open {
  opacity: 1;
  visibility: visible;
}

/* (B) NUMPAD */
#numPad {
  max-width: 550px;
  background: #eaeaea;
  margin: 50vh auto 0 auto;
  transform: translateY(-50%);
  padding: 10px;
}

/* (C) DISPLAY */
#numDisplay {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #c1c1c1;
  color: #000;
  font-size: 42px;
  text-align: right;
}
#numDisplay:focus { outline: none; }
#numDisplay::selection { background: none; }

/* (D) BUTTONS WRAPPER */
#numBWrap {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 5px;
}

/* (E) BUTTONS */
#numBWrap div {
  font-size: 32px;
  color: #000;
  text-align: center;
  padding: 15px 0;
  border: 1px solid #c1c1c1;
}
#numBWrap div:hover { cursor: pointer; }
#numBWrap .num, #numBWrap .zero, #numBWrap .dot { padding: 10px; background: #fff; }
#numBWrap .zero { grid-column: span 2; }
#numBWrap .del, #numBWrap .clr { background: #ffecd7; }
#numBWrap .cx { background: #dadada; }
#numBWrap .cxwide { grid-column: span 2; background: #dadada; }
#numBWrap .ok { background: #e7f3ff; }
#numBWrap .spacer { visibility: hidden; }

#numBWrap .recall  { grid-column: span 2; background: #ffecd7; }
#numBWrap .get     { background: #ffecd7; }
#numBWrap .set     { grid-column: span 2; background: #55ffd7; }
#numBWrap .goto    { background: #ff5555; }

/* No decimal points allowed */
#numBWrap.noDec .dot { display: none; }
#numBWrap.noDec .zero { grid-column: span 3; }

/* Panel Extension */
@media (max-width: 720px) {
  #tablettab {
    font-size: 16px;
    margin: 0;
    padding: 5px;
  }

  #nav-panel, #axis-position, #setAxis, #control-pad,
  #messagepane #gcode-states, #messagepane #messages,
  #expand-button,
  #mdifiles div:nth-child(-n+4), /* GCode Command and MDI buttons */
  #mdifiles div:nth-child(6),    /* Upld button */
  #mdifiles div:nth-child(8)     /* Refr button */
  {
    display: none;
  }

  #mdifiles div:nth-child(5) {
    width: 70%;
  }

  #mdifiles div:nth-child(7) {
    width: 18%;
  }

  #mdifiles.area {
    padding-top: 3px !important;
  }

  #previewpane {
    position: absolute;
    top: 152px;
    width: 97%;
    height: 358px;
  }

  #gcode {
    position: absolute;
    width: 96%;
    height: 90px;
    font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
    font-size: 14px;
  }

  #gcode, #mdifiles {
    background-color: inherit;
  }

  .btn-tablet {
    height: auto;
    font-size: 16px;
  }

  #fsBtn {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    width: 35px;
  }
}